@font-face {
  font-family: 'Equity B';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('fonts/equity_b_regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Equity B';
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('fonts/equity_b_italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Equity B';
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('fonts/equity_b_bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Equity B';
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('fonts/equity_b_bold_italic.woff2') format('woff2');
}

@font-face {
  font-family: triplicate_a_code;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('fonts/triplicate_a_code_regular.woff2') format('woff2');
}
@font-face {
  font-family: triplicate_a_code;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('fonts/triplicate_a_code_italic.woff2') format('woff2');
}
@font-face {
  font-family: triplicate_a_code;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('fonts/triplicate_a_code_bold.woff2') format('woff2');
}
@font-face {
  font-family: triplicate_a_code;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('fonts/triplicate_a_code_bold_italic.woff2') format('woff2');
}

a {
  color: #02818a;
  text-decoration: none;
}
a:hover {
  background: #3690c0;
  color: #ece2f0;
}
blockquote {
  font-size: 90%;
  font-style: italic;
  margin: 1rem;
}
body {
  background: #fafafa;
  color: #000000;
  font-family: 'Equity B', serif;
  font-kerning: normal;
  font-variant: oldstyle-nums;
  line-height: 175%;
  margin: 5% 17%;
  text-rendering: optimizeLegibility;
}
code {
  font-family: 'Triplicate A Code', monospace;
  font-size: 90%;
}
.date {
  font-family: 'Equity B', serif;
  font-style: italic;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
em {
  font-style: italic;
}
strong {
  font-weight: normal;
}
.footer {
  font-family: 'Equity B', serif;
  font-style: italic;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
a.footnote {
  color: #02818a;
  vertical-align: super;
}
a.footnote::after {
  content: "\2004";
}
.footnotes {
  font-family: 'Equity B', serif;
  font-size: 70%;
  margin-top: 2rem;
}
.greeting {
  font-family: 'Equity B', serif;
  font-size: 175%;
  font-weight: 700;
  padding-bottom: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Equity B', serif;
  font-size: 175%;
  font-variant: small-caps;
  font-weight: 600;
  margin-bottom: 1rem;
}
img {
  display: block;
  margin: 0 auto;
}
nav {
  font-family: 'Equity B', serif;
  font-weight: 700;
}
nav a {
  color: #000000;
}
nav li {
  display: inline-block;
  margin-right: 5rem;
}
p {
  font-size: 125%;
  margin-bottom: 1rem;
}
.post li {
  font-size: 125%;
  padding-bottom: 1rem;
}
.post ol {
  list-style-type: decimal;
  padding-left: 4rem;
}
.post ul {
  list-style-type: circle;
  padding-left: 4rem;
}
.post-title {
  font-size: 125%;
  padding: 0.75rem;
}
.post-title a {
  color: #000000;
}
.post-title a:hover {
  background: #3690c0;
  color: #ece2f0;
};
pre {
  margin-bottom: 1rem;
}
table {
  width: 75%;
}
td {
  text-align: center;
}
/*
 * copied from katex/contrib/copy-tex.css
 *
 * Force selection of entire .katex/.katex-display blocks, so that we can
 * copy/paste the entire source code.  If you omit this CSS, partial
 * selections of a formula will work, but will copy the ugly HTML
 * representation instead of the LaTeX source code.  (Full selections will
 * still produce the LaTeX source code.)
 */
  .katex,
  .katex-display {
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
  }

